# exclude
*

# include
!/assets
!/collector
!/collector/*.py
!/collector/tests
!/collector/tests/*.py
!/daemon
!/daemon/*.py
!/daemon/tests
!/daemon/tests/*.py
!/dparser
!/dparser/*.py
!/dparser/tests
!/dparser/tests/*.py
!/docs
!/docs/*
!/forecaster
!/forecaster/*.py
!/forecaster/tests
!/forecaster/tests/*.py
!/indicators
!/indicators/*.py
!/indicators/tests
!/indicators/tests/*.py
!/plotter
!/plotter/*.py
!/plotter/tests
!/plotter/tests/*.py
!/utils
!/utils/*.py
!/utils/tests
!/utils/tests/*.py
!/xport
!/xport/*.py
!/xport/tests
!/xport/tests/*.py
!.gitignore
!config.py
!LICENSE
!Pipfile
!Pipfile.lock
!README.md
!setup.py
